/* c4.css */

/* Center the block_body content */
.block_body {
    text-align: center;
    margin-top: 20px;
    background-color: aliceblue;
}

/* Style for the product container */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    
}

/* Style for each product */
.product {
    width: 300px; /* Adjust the width as needed */
    background-color: rgba(196, 180, 32, 0.8); /* semi-transparent white background */
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.product h4 {
    font-size: 20px;
    margin-bottom: 5px;
   
    
    margin-inline-start:0px;
    margin-inline-end: 0px;
    background-color: rgb(126, 42, 165); /* Background color for product name */
    color: white; /* Text color for product name */
    padding: 5px  ; /* Padding for product name */
   padding-left: 40px;
    border-radius: 5px; /* Border radius for product name */
}

.product img {
    width: 260px; /* Adjust the width as needed */
    height: 200px;
    border-radius: 5px;
   /* Background color for image */
}

.product h4.price {
    margin-top: 10px;
    background-color: rgb(165, 101, 42); /* Background color for price */
    color: white; /* Text color for price */
    padding: 5px; /* Padding for price */
    border-radius: 5px; /* Border radius for price */
}

/* Style for the "Add to Wishlist" button */
.product button {
    background-color: rgb(40, 158, 179);
    color: white;
    border: none;
    padding: 10px 80px;
    margin-top: 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.product button a {
    color: white;
    text-decoration: none;
}

.product button:hover {
    background-color: darkred;
}
button{
    border-radius: 10px;
    background-color: rgb(37, 35, 31);
   
    
}
button:hover{
    background-color: aqua;
    
}

