/* CSS for Wishlist Page */

/* Wishlist Heading */
.wishlist-heading {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  /* Product Cards */
  .card {
    border: 1px solid #5f5252;
    border-radius: 10px;
  }
  
  .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 300px; /* Adjust height as needed */
    object-fit: 100%; /* Ensure the entire image fits within the card */
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .btn-danger {
    width: 100%;
  }
  
  /* Empty Wishlist Message */
  .wishlist-empty {
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
  }
  body{
    background-color: antiquewhite;
}