    {% extends 'base.html' %}

    {% load static %}

    {% block title %}
    <title>Product_List</title>

    <link rel="stylesheet" href="{% static 'css/c4.css' %}">
    {% endblock %}

    {% block block_body %}
    
    <center>
        <i><h1 style="color: brown;">ALL PRODUCTS</h1></i>

        {% if user.is_authenticated %}
       <h2> {{user.username}}</h2>
        {% endif %}
       
       
    </center>
    
    
      
    <button> <a href="{% url 'wishlist' %}">WishList</a></button><br><br>


    <form action="{% url 'product_search' %}" method="POST">{% csrf_token %}
        <input type="text" name="search_query" placeholder="Search Products">
        <button type="submit">Search</button>
    </form>
    

    <div class="product-container">
        {% for product in products %}
        <div class="product">
            <h4>{{ product.pname }}</h4>
            <img src="{{ product.img }}" alt="" height="200px" width="200px">
            <h4>{{ product.price }}</h4>
            <button><a href="{% url 'addwishlist' %}">Add to WishList</a></button>
        </div>
        {% endfor %}
    </div>

    {% endblock %}
