{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>Category List</title>
    <link rel="stylesheet" href="{% static 'css/c10.css' %}">
    
{% endblock %}
{% block block_body %}
<center>
    <h1>Category List</h1>
    <ul>
        {% for category in categories %}
            <li><a href="{% url 'category_detail' category.id %}">{{ category.category }}</a></li>
        {% endfor %}
    </ul>
  <button>  <a href="{% url 'category_create' %}">Create New Category</a></button>
    </center>
{% endblock %}
