{% extends 'base.html' %}

{% load static %}

{% block title %}
   <title>Create_Product</title>
  
 <link rel="stylesheet" href="{% static 'css/c5.css' %}">
{% endblock %}


{% block block_body %}
<center>
   <i><h1 style="background-color: brown; color:antiquewhite" >Create Product</h1></i>
   <div>
    <form action="" method="POST">
        {% csrf_token %}
        
        
        {{form.as_p}}
        <input type="submit" value="Create">

    </div>
       
    </form>
</center>
{% endblock %}

