

{% extends 'base.html' %}

{% load static %}

{% block title %}

<title>wishlist</title>
<link rel="stylesheet" href="{% static 'css/c9.css' %}">
<style>
   
</style>
{% endblock %}

{% block block_body %}
    <h1 class="wishlist-heading" style="color:brown">{{user.username}} Wishlist products</h1>
    <div class="row">
        {% for item in wishlist_items %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="{{ item.products.img.url }}" alt="Product Image">
                    
                    
                    <div class="card-body" style="background-color: bisque;">
                        <h1 class="card-title">{{ item.products.pname }}</h1>
                        <p class="card-text">Price: ${{ item.products.price }}</p>
                        <p class="card-text">Quantity: {{ item.products.qty }}</p>
                        <form method="post" action="{% url 'removewishlistiteam' item.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Remove from Wishlist</button>
                        </form>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col">
                <p class="wishlist-empty">Your wishlist is empty.</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}



