

{% extends 'base.html' %}

{% load static %}

{% block title %}

<title>wishlist</title>
<link rel="stylesheet" href="{% static 'css/c9.css' %}">

{% endblock %}

{% block block_body %}
  
<center>
    <i><h1 style="color: brown; " >{{user.username}} WishList Products</h1></i>    
 
</center>



<div class="product-container">
   

    {% for item in wishlist_items %}
    <div class="product" style="background-color:rgba(199, 197, 176, 0.8);">
      <b>  <h1>{{ item.products.pname }}</h1></b>
        <img src="{{ item.products.img.url }}" alt="" height="200px" width="200px">
        <h3>price {{item.products.price }}</h3>
        
        <h3> Category:{{item.products.category}}</h3>
       
        <form action="{% url 'removewishlistiteam' item.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" style="margin: 3px 8px 8px;" >Remove Wishlist </button>
        </form>

        <form action="{% url 'add_to_cart' item.products.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" style="margin: 3px 8px 8px;">Add To Cart</button>
        </form>
        
        
    </div>
    {% endfor %}
</div>

{% endblock %}
