
{% load static %}

{% block title %}
<title>Login_page</title>
<link rel="stylesheet" href="{% static 'css/c2.css' %}">
{% endblock %}

{% block block_body %}
 <center>
    <h1 style="color: rgb(209, 134, 36);">LOGIN_PAGE</h1>
    <div>
    <form action="" method="POST">
      {% csrf_token %}

      <label for="un">Username</label>
      <input type="text" name="un" id="un"><br><br>
      <label for="pw">Password</label>
      <input type="password" name="pw" id="pw"><br><br>
      <input type="submit" value="Login" style="border-radius: 6px;">
    </form>
    </div>
    
 </center>
{% endblock %}